@charset "UTF-8";

/* Author: Mohamad
Date: Sep 21, 2022 */

/* tag selector */  
body {
	background-color: #94D9EA;
	color:black;
	font-family: Nunito, sans-serif; 
} 

h1 {
	font-weight: bold;
}

ol { 
	List-style-type: upper-roman;
}

nav a:hover, nav a:active {
	text-decoration: underline;
}

